h1 {
    color: var(--color-primary);
    font-size: 40px;
    font-weight: bold;
}

a {
    width: 200px;
    font-size: 16px;
}

mat-list-item {
    padding: 30px 0px;
}

h2 {
    color: var(--color-primary);
    font-size: 40px;
    font-weight: bold;
}
 
.empresa-form {
    display: flex;
    flex-direction: column;
}
  
.full-width {
    width: 100%;
}
  
.button-container {
    display: flex;
    justify-content: flex-end;
}